#compLogo {
    height: 45px;
}

#headerSearch {
    padding-right: 10px;
}

/* "Top" link in nav */
#headerCollapse li:nth-child(5) a {
    background-color: #B41C30;
    color: #FFFFFF;
}

#pageFooter {
    background-color: #B41C30;
    color: #FFFFFF;
}

#pageFooter a {
    color: #FFFFFF;
    padding-right: 15px;
    font-size: 20px;
}

/* Social media span tags */
#pageFooter p a {
    font-size: 15px;
}

#homepageCarousel img {
    min-width: 100%;
}

.imgNeighborhoodName {
    margin-top: -90px;
    text-align: center;
    color: #FFFFFF;
}

#neighborhoodProperties li:nth-child(9) a {
    background-color: #B41C30;
    color: #FFFFFF;
}