#compLogo {
    height: 45px;
}

#headerSearch {
    padding-right: 10px;
}
/* Move content from behind nav */
.padding {
    padding-top: 40px;  
}
/* Show More Page Header */
.floatleft {
    float: left;    
}
.rating {
    padding-top: 0px;   
}

/* "Top" link in nav */
#headerCollapse li:nth-child(6) a {
    background-color: #B41C30;
    color: #FFFFFF;
}

#pageFooter {
    background-color: #B41C30;
    color: #FFFFFF;
}

#pageFooter a {
    color: #FFFFFF;
    padding-right: 15px;
    font-size: 20px;
}

/* Social media span tags */
#pageFooter p a {
    font-size: 15px;
}

#homepageCarousel img {
    min-width: 100%;
}

/* Text on top of neighborhood image in grid */
.imgNeighborhoodName {
    margin-top: -90px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
}

/* Link to "top" in neighborhood properties nav */
#neighborhoodProperties li:last-child a {
    background-color: #B41C30;
    color: #FFFFFF;
}

/* Transportation */
.greentrain {
    width: 25px;
    height: 25px;   
    background-color: #00933C;
    border-radius: 12.5px;
    text-align: center;
    color: white;
    margin-right: 3px;
}
.yellowtrain {
    width: 25px;
    height: 25px;   
    background-color: #FCCC0A;
    border-radius: 12.5px;
    text-align: center;
    margin-right: 3px;
}
.greytrain {
    width: 25px;
    height: 25px;   
    background-color: #A7A9AC;
    border-radius: 12.5px;
    text-align: center;
    margin-right: 3px;
}
.train-number {
    padding-top: 2px;   
}
.no-list-style {
    list-style-type: none;  
}
.train-text {
    padding-top: 5px;
    position: relative;
    left: 3px;
    bottom: 3px;
}
.map {
    margin-bottom: 5px; 
}

#neighborhoodsGrid img {
    /*-webkit-transition: 0.3s;*/
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

#neighborhoodsGrid img:hover {
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}