{% extends "remax_homepage/base.html" %}
{% load staticfiles %}

{% block title %} RE/MAX NYC | Fine Homes and Luxury Properties {% endblock title %}

{% block content %}
<div id="homepageCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#homepageCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homepageCarousel" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="first-slide img-responsive" src="{% static "images/homepageslider0.jpg" %}" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>RE/MAX Midtown</h1>
                    <p><!--Text goes here--></p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Rentals</a> <a class="btn btn-lg btn-primary" href="#" role="button">Sales</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img class="second-slide img-responsive" src="{% static "images/homepageslider1.jpg" %}" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>New Listings</h1>
                    <p><!--Text goes here--></p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">See more</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#homepageCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#homepageCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">About us and our goals</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Within New York City, RE/MAX Manhattan is the premier agency dedicated to find customers the perfect NYC property. Our prime Manhattan location keeps us in the center of the action, so we are well suited to pinpoint the perfect blend of location, community, and luxury real estate for each customer. RE/MAX Midtown’s team is comprised of highly qualified real estate experts who aim to exceed client’s expectations in making the process of finding a property in New York City an enjoyable experience. We are equipped with cutting-edge technology that keeps us up-to-date in this rapidly evolving economy, making sure that our clients, whether as buyers, sellers, or renters, can have a leading market advantage in NYC luxury real estate over the majority. If its New York City real estate that you’re looking for, RE/MAX Midtown in Manhattan will definitely find the ideal property for you. <a href="{% url "about_page" %}">Read more</a></p>
        </div>
    </div>
</div><br><br><br>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Neighborhoods</h3>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#allneighborhoods">All</a></li>
        <li><a data-toggle="tab" href="#downtown">Downtown</a></li>
        <li><a data-toggle="tab" href="#midtown">Midtown</a></li>
        <li><a data-toggle="tab" href="#uptown">Uptown</a></li>
    </ul>
    <div class="tab-content">
        <div id="allneighborhoods" class="tab-pane fade in active">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lowereast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lower East Side</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/yorkville.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Yorkville</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/stuytown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Stuyvesant Town</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/batterypark.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Battery Park City</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/chinatown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Chinatown</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/turtlebay.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Turtle Bay</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/noho.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Noho</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/nomad.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Nomad</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtownsouth.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown South</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/tribeca.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Tribeca</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/rooseveltisland.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Roosevelt Island</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/morningside.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Morningside Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/valley.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Manhattan Valley</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/washington.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Washington Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/hamilton.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Hamilton Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/westharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>West Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/carnegie.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Carnegie Hill</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/financial.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Financial District</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/inwood.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Inwood</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/eastharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>East Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/upperwest.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Upper West Side</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lenox.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lenox Hill</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtownwest.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown West</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/murray.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Murray Hill</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/westvillage.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>West Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/soho.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Soho</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/chelsea.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Chelsea</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/parksouth.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Central Park South</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtowneast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown East</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lincoln.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lincoln Square</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/kips.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Kips Bay</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/uppereast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Upper East Side</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/flatiron.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Flatiron</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/eastvillage.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>East Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/gramercy.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Gramercy</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/greenwich.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Greenwich Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/nolita.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Nolita</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lilitaly.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Little Italy</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/centralharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Central Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs visible-md block"></div>
        </div>
        <div id="downtown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6"> Lower East Side
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Stuyvesant Town
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Battery Park City
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Chinatown
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Noho
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Nomad
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Tribeca
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Financial District
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> West Village
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Soho
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Chelsea
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Flatiron
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> East Village
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Gramercy
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Greenwich Village
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Nolita
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Little Italy
            </div> 
        </div>
        <div id="midtown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6"> Turtle Bay
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown South
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Roosevelt Island
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown West
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Murray Hill
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Central Park South
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown East
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Kips Bay
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
        </div>
        <div id="uptown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6"> Yorkville
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Morningside Heights
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Manhattan Village
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Washington Heights
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Hamilton Heights
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> West Harlem
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Carnegie Hill
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Inwood
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> East Harlem
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Upper West Side
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Lenox Hill
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Lincoln Square
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Upper East Side
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Central Harlem
            </div>
        </div>
    </div>
</div><br><br><br><br>

<div class="container">
    <div class="col-md-4 col-xs-12"> Buyer's and Renters' Guide
    </div>
    <div class="clearfix visible-xs block"></div>
    <div class="col-md-4 col-xs-12"> Real Estate Advice
    </div>
    <div class="clearfix visible-xs block"></div>
    <div class="col-md-4 col-xs-12"> Video
    </div>
    <div class="clearfix visible-md visible-xs block"></div>
</div>

{% endblock content %}