{% extends "remax_homepage/base.html" %}
{% load staticfiles %}

{% block title %} RE/MAX NYC | Neighborhoods {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Neighborhoods</h3>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#allneighborhoods">All</a></li>
        <li><a data-toggle="tab" href="#downtown">Downtown</a></li>
        <li><a data-toggle="tab" href="#midtown">Midtown</a></li>
        <li><a data-toggle="tab" href="#uptown">Uptown</a></li>
    </ul>
    <div class="tab-content">
        <div id="allneighborhoods" class="tab-pane fade in active">
            <div class="col-lg-3 col-md-4 col-xs-6"> Lower East Side
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Yorkville
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Stuyvesant Town
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Battery Park City
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Chinatown
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Turtle Bay
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Noho
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Nomad
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown South
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Tribeca
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Roosevelt Island
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Morningside Heights
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Manhattan Valley
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Washington Heights
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Hamilton Heights
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> West Harlem
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Carnegie Hill
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Financial District
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Inwood
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> East Harlem
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Upper West Side
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Lenox Hill
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown West
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Murray Hill
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> West Village
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Soho
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Chelsea
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Central Park South
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown East
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Lincoln Square
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Kips Bay
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Upper East Side
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Flatiron
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> East Village
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Gramercy
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Greenwich Village
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Nolita
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Little Italy
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Central Harlem
            </div>
            <div class="clearfix visible-lg visible-xs visible-md block"></div>
        </div>
        <div id="downtown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6"> Lower East Side
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Stuyvesant Town
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Battery Park City
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Chinatown
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Noho
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Nomad
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Tribeca
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Financial District
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> West Village
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Soho
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Chelsea
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Flatiron
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> East Village
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Gramercy
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Greenwich Village
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Nolita
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Little Italy
            </div> 
        </div>
        <div id="midtown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6"> Turtle Bay
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown South
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Roosevelt Island
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown West
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Murray Hill
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Central Park South
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Midtown East
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Kips Bay
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
        </div>
        <div id="uptown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6"> Yorkville
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Morningside Heights
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Manhattan Village
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Washington Heights
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Hamilton Heights
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> West Harlem
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Carnegie Hill
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Inwood
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> East Harlem
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Upper West Side
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Lenox Hill
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Lincoln Square
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Upper East Side
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6"> Central Harlem
            </div>
        </div>
    </div>
</div>

{% endblock content %}