{% extends "remax_homepage/base.html" %}
{% load staticfiles %}

{% block title %} RE/MAX NYC | Neighborhoods {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">Neighborhoods</h3>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#allneighborhoods">All</a></li>
        <li><a data-toggle="tab" href="#downtown">Downtown</a></li>
        <li><a data-toggle="tab" href="#midtown">Midtown</a></li>
        <li><a data-toggle="tab" href="#uptown">Uptown</a></li>
    </ul>
    <div class="tab-content">
        <div id="allneighborhoods" class="tab-pane fade in active">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="{% url "show_neighborhood" neighborhood="lower-east-side" %}"><img class="img-responsive" src="{% static "images/lowereast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lower East Side</h4><br><h5>Downtown</h5>
                </div></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/yorkville.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Yorkville</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/stuytown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Stuyvesant Town</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/batterypark.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Battery Park City</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/chinatown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Chinatown</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/turtlebay.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Turtle Bay</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/noho.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Noho</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/nomad.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Nomad</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtownsouth.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown South</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/tribeca.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Tribeca</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/rooseveltisland.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Roosevelt Island</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/morningside.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Morningside Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/valley.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Manhattan Valley</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/washington.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Washington Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/hamilton.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Hamilton Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/westharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>West Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/carnegie.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Carnegie Hill</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/financial.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Financial District</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/inwood.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Inwood</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/eastharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>East Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/upperwest.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Upper West Side</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lenox.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lenox Hill</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtownwest.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown West</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/murray.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Murray Hill</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/westvillage.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>West Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/soho.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Soho</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/chelsea.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Chelsea</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/parksouth.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Central Park South</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtowneast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown East</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lincoln.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lincoln Square</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/kips.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Kips Bay</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/uppereast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Upper East Side</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/flatiron.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Flatiron</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/eastvillage.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>East Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/gramercy.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Gramercy</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/greenwich.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Greenwich Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/nolita.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Nolita</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lilitaly.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Little Italy</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/centralharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Central Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs visible-md block"></div>
        </div>
        <div id="downtown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <a href="{% url "show_neighborhood" neighborhood="lower-east-side" %}"><img class="img-responsive" src="{% static "images/lowereast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lower East Side</h4><br><h5>Downtown</h5>
                </div></a>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/stuytown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Stuyvesant Town</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/batterypark.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Battery Park City</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/chinatown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Chinatown</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/noho.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Noho</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/nomad.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Nomad</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/tribeca.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Tribeca</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/financial.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Financial District</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/westvillage.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>West Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/soho.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Soho</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/chelsea.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Chelsea</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/flatiron.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Flatiron</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/eastvillage.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>East Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/gramercy.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Gramercy</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/greenwich.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Greenwich Village</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/nolita.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Nolita</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lilitaly.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Little Italy</h4><br><h5>Downtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visibile-md visible-lg block"></div>
        </div>
        <div id="midtown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/turtlebay.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Turtle Bay</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtownsouth.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown South</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/rooseveltisland.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Roosevelt Island</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtown.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtownwest.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown West</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/murray.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Murray Hill</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/parksouth.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Central Park South</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/midtowneast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Midtown East</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/kips.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Kips Bay</h4><br><h5>Midtown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
        </div>
        <div id="uptown" class="tab-pane fade">
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/yorkville.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Yorkville</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/morningside.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Morningside Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/valley.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Manhattan Valley</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/washington.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Washington Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/hamilton.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Hamilton Heights</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/westharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>West Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/carnegie.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Carnegie Hill</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/inwood.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Inwood</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/eastharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>East Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-md block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/upperwest.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Upper West Side</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lenox.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lenox Hill</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/lincoln.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Lincoln Square</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/uppereast.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Upper East Side</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6">
                <img class="img-responsive" src="{% static "images/centralharlem.png" %}"/>
                <div class="imgNeighborhoodName">
                    <h4>Central Harlem</h4><br><h5>Uptown</h5>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md visible-xs block"></div>
            </div>
        </div>
    </div>
</div><br><br><br><br>

{% endblock content %}