{% extends "remax_homepage/base.html" %}
{% load staticfiles %}

{% block title %} RE/MAX NYC | {{ neighborhood }} {% endblock title %}

{% block content %}

<div class="container">
    <br>{{ name }}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{ neighborhood }}</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive center-block" src="{% static dir %}"/>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-xs-12">
            <p>
                If you are looking to live in an area with great growth and opportunity, check out the Upper East Side, which is bordered by Lenox Hill, Carnegie Hill, and Yorkville.<br><br>

                From the most elegant restaurants to fascinating museums, the Upper East Side has it all. One of the most exciting things to do in the Upper East Side is visit Museum Row, where you will be greeted by countless different museums to choose from. Even the museums in the area reflect the opulence and luxury that characterizes the Upper East Side.<br><br>

                There is also a plethora of shopping options to dive into, and after a long day you will be able to enjoy the finest of cuisines. The Upper East Side restaurants are some of the best, as well as most expensive. Also, even though the area isn’t necessarily known for its nightlife, Upper East Side bars mirror the upscale atmosphere of the neighborhood, with great drinks to boot.
                The Upper East Side was originally characterized as a neighborhood of affluence in the mid-1800s, when some of the richest families (Vanderbilt, Carnegie, Rockefeller) owned mansions along Central Park. Although those mansions are gone now, they’ve been replaced with some gorgeous Upper East Side apartments that line Central Park with dazzling views. Therefore, the real estate market reflects the high demand for these properties, as Upper East Side apartments have lower demand-yet higher prices-than the New York City average.<br><br>

                If you’d like a spot in the exclusive Upper East Side neighborhood, you’ll definitely like the exceptional Upper East Side restaurants, bars, and lifestyle that accompanies the wealth of the area.<br><br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs" id="neighborhoodProperties">
        <li class="active"><a data-toggle="tab" href="#food">Food</a></li>
        <li><a data-toggle="tab" href="#nightlife">Nightlife</a></li>
        <li><a data-toggle="tab" href="#dailyerrands">Daily Errands</a></li>
        <li><a data-toggle="tab" href="#attractions">Attractions</a></li>
        <li><a data-toggle="tab" href="#shopping">Shopping</a></li>
        <li><a data-toggle="tab" href="#school">School</a></li>
        <li><a data-toggle="tab" href="#health">Health</a></li>
        <li><a data-toggle="tab" href="#parks">Parks</a></li>
        <li><a href="{% url "show_top_buildings" neighborhood=original %}">Top</a></li>
    </ul>
    <div class="tab-content">
        <div id="food" class="tab-pane fade in active">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#fine">Fine Dining</a></li>
                <li><a data-toggle="tab" href="#take">Takeout</a></li>
            </ul>
            <div class="tab-content">
                <div id="fine" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/atlantic.jpg" %}"/>
                            <h6>Atlantic Grill</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>A great formal dinner option in the Upper East Side is Daniel. It offers the Bellecour Room for private dining and a warm and welcoming bar and lounge where guests enjoy creative cocktails, a la carte dining, and sumptuous late night desserts. The restaurant is also a distinctive destination for weddings and rehearsal dinners, and is one of the few Manhattan restaurants to have a coveted two-star Michelin rating.<br><br>

                            Atlantic Grill is a 220-seat seafood restaurant that opened in 1998. It specializes in fish dishes, and is noted for its by-the-glass wine list. The restaurant is owned by Steven Hudson, and it is a sister restaurant of Ocean Grill.<br><br>

                            Jean-Georges Vongerichten brings his passion for fresh-from-the-market, simple cooking at The Mark Restaurant. A world class menu of subtly innovative European classics as well as Jean-Georges’ signature global seasonings will be sure to satisfy cravings for both simple and eclectic palates alike.</p>
                        </div>
                    </div>
                </div>
                <div id="take" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>If you are looking for some good Chinese takeout in the Upper East Side, check out New Beijing Wok Inc. Reviewers have given the food excellent ratings, saying that is is always clean, fresh, and cooked exactly to order. The delivery is said to be quick with the food arriving hot.<br><br>

                            Looking for some Mexican takeout in the Upper East Side? Check out Maz Mezcal. Thier delivery menu ensures that your family and friends will have a fantastic time dining from the selected dishes and favorite drinks, with enough variety for everyone’s tastes.<br><br>

                            In the Upper East Side, you are also sure to find some great Greek takeout with Mamagyro. This is an easygoing, basic Greek counter which serves delicious gyro sandwiches, salads, sides, and desserts.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/maz.jpg" %}"/>
                            <h6>Maz Mezcal</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Regardless of your choice, the Upper East Side will definitely provide you with some delicious food.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nightlife" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#bar">Bar</a></li>
                <li><a data-toggle="tab" href="#club">Club</a></li>
            </ul>
            <div class="tab-content">
                <div id="bar" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/drunken.jpg" %}"/>
                            <h6>The Drunken Munkey</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>Looking for a night out in the Upper East Side? There are many bars to explore.<br><br>

                            Caledonia Bar is a welcoming option on the Upper East Side of Manhattan, with 8 rotating beers on tap, perfectly mixed cocktails, and one of New York’s most impressive selections of whiskey: over 150 different kinds from five different regions.<br><br>

                            The Upper East Side’s first dedicated “craft cocktail” bar, The Drunken Munkey, serves a selection of classic cocktails, wines, spirits and cordials alongside the comfort of Indian cooking. The Drunken Munkey is a throwback to the times of Colonial India, paying tribute to the legendary flavors, style, and ambiance reminiscent of the famous cafes, bistros and supper clubs of ‘Old Bombay’.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>The Auction House is often referred to as a “hidden gem.” This romantic upscale lounge, with its red-velvet drapes, mahogany bar, gorgeous paintings, intimate tables, and marble fireplace, has been a neighborhood favorite for over twenty years. So, the next time you’re on the Upper East Side, discover The Auction House!</p>
                        </div>
                    </div>
                </div>
                <div id="club" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>When the sun goes down and you are looking for somewhere to party the night away in the Upper East Side, there are plenty of clubs to choose from.<br><br>

                            One of these is Session 73, a music venue showcasing an array of bands playing blues, jazz, funk, salsa, and more. It is a neighborhood staple known for its casual American fare, delicious cocktails, and nightly live music. With three large rooms, two bars, and plush seating, Session 73 is the ideal venue for an after work happy hour or a special event!<br><br>

                            Saloon NYC has three full bars, private and semi private rooms, and the biggest dance floor on the Upper East Side. It is also perfect for many occasions from a last minute open bar for you and your friends to corporate or charity events for over 400.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/saloon.jpg" %}"/>
                            <h6>Saloon NYC</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Another club to check out on the Upper East Side is The Uptown Restaurant. This is a high-energy casual American restaurant and bar serving delectable, comfort-driven fare alongside a creative beer, wine, and specialty cocktail list.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dailyerrands" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#grocery">Grocery</a></li>
                <li><a data-toggle="tab" href="#laundry">Laundry</a></li>
            </ul>
            <div class="tab-content">
                <div id="grocery" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/foodemp.jpg" %}"/>
                            <h6>The Food Emporium</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>Grocery stores in the Upper East Side are abundant due to its high residential population, making shopping a very easy task.<br><br>

                            From what began as a humble fish market in 1912, Citarella has become a top notch culinary destination with fresh seafood, choice meats, international cheeses, breads, charcuterie, smoked fish and caviar, and whimsical pastries.<br><br>

                            The Food Emporium has built its empire of stores across the tri-state area by catering to knowledgeable, discerning consumers in an ultra-convenient supermarket setting. While fresh produce, meat, and imported and organic cheeses are available, the best choice here is clearly prepared foods.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Or, check out Eddie’s Market if you’re interested in an accommodating option with a wide array of groceries, as well as pre-made sandwiches and salads. The service at Eddie’s Market is superb, so you will definitely be interested in making this grocery store your primary store for everyday needs.</p>
                        </div>
                    </div>
                </div>
                <div id="laundry" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>There are also many laundry options available in the Upper East Side to make your routine one step easier.<br><br>

                            For a quality laundry cleaning service, check out Fluff-n-Fold Laundry Services. It provides quality laundry services to the busy professionals of the Upper East Side. They provide an attended self-service laundromat, which is hard to find in Manhattan.<br><br>

                            Or, if you’re looking to do your laundry yourself, visit The Mat II. They offer many washing machines and dryers so you won’t have to wait, and they are open 24/7 for whenever you need your laundry done.<br><br>

                            For a very professional service that you can rely on, try Manhattan Cleaners. With basic laundry services as well as dry cleaning selections, Manhattan Cleaners is another perfect service for the busy customer.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="attractions" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#shows">Shows & Museums</a></li>
                <li><a data-toggle="tab" href="#art">Art Galley</a></li>
            </ul>
            <div class="tab-content">
                <div id="shows" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/guggen.jpg" %}"/>
                            <h6>Guggenheim Museum</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>If you want to be amazed in the Upper East Side, check out the Guggenheim Museum. Visitors can experience special exhibitions of modern and contemporary art, lectures by artists and critics, performances and film screenings, classes for teens and adults, and daily tours of the galleries led by museum educators. This internationally acclaimed museum is aboslutely the place to visit in the Upper East Side, as you will definitely not be disappointed by the caliber of art.<br><br>

                            Or, for a more intimate museum, check out The Jewish Museum, a jewel-box of an art museum and a distinctive hub for art and Jewish culture for people of all backgrounds. The museum maintains a unique collection of nearly 30,000 works of fine art, Judaica, antiques, folk art, ceremonial objects, and broadcast media which reflect the global Jewish experience over more than 4,000 years.</p>
                        </div>
                    </div>
                </div>
                <div id="art" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>There are also many galleries in the Upper East Side that will leave you breathless with their level and display of artwork.<br><br>

                            Acquavella Galleries was founded in 1921 by Nicholas Acquavella, a native of Naples who began a private trade of Italian paintings in the United States. The gallery has since been operated by the Acquavella family. Today, the gallery represents James Rosenquist, Enoc Perez, and Damian Loeb.<br><br>

                            Or, you can check out Kraushaar Galleries for some beautiful artwork. This gallery was founded in 1885 by Charles W. Kraushaar. It now functions as a private gallery, retaining its focus on the first half of the twentieth century.<br><br>

                            For an amazing art gallery right in the Upper East Side, visit Tilton Gallery. They offer exhibitions as well as lectures, so you will definitely be entranced by the wonder of the gallery’s content.<br><br>

                            Therefore, the Upper East Side will provide you with a fun and educational experience by visiting an art gallery located in the neighborhood.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/acq.jpg" %}"/>
                            <h6>Acquavella Galleries</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="shopping" class="tab-pane fade in"><br>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive" src="{% static "images/louboutin.jpg" %}"/>
                    <h6>Christian Louboutin</h6>
                </div>
                <div class="col-lg-8">
                    <p>When walking through the Upper East Side, you will be delighted to find Christian Louboutin. The store features the famous footwear designed by Christian Louboutin, which has incorporated shiny, red-lacquered soles that have become the signature.<br><br>

                    If you are looking for some top notch women’s clothing in the Upper East Side, stop by Anthropologie. There you will find some of the best women’s clothing, accessories, and home decor the city has to offer. Stop by and explore the large collection of dresses, blouses, sweaters, shoes, and more.<br><br>

                    Also, be sure to check out Kate Spade in the Upper East Side. There you will find the latest designer handbags, clothing, shoes, jewelry, and more for women. Don’t miss out on the lovely finds.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Regardless of whether you check out the store of a famous designer or are interested in discovering a small boutique, the Upper East Side will definitely supply you with a wide assortment of shopping destinations.</p>
                </div>
            </div>
        </div>
        <div id="school" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#early">Early Education</a></li>
                <li><a data-toggle="tab" href="#uni">University</a></li>
            </ul>
            <div class="tab-content">
                <div id="early" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/eleanor.jpg" %}"/>
                            <h6>Eleanor Roosevelt High School</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>Because of the impeccable family environment in the Upper East Side, there are also great education choices for your children.<br><br>

                            Eleanor Roosevelt High School is a small public high school on the Upper East Side. It is composed of about 33 teachers and 500 students representing over 40 different countries. Every year, the school selects 125 to 140 students out of over 6,000 applicants and is often selected over specialized high schools by students looking for a more liberal curriculum.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Or, Hunter College High School has no tuition fees and it is publicly funded, making it a great option. The school’s curriculum strives for a balance of achievement in the humanities and the sciences, and is widely admired for excellence in both fields. Hunter is noted for sending a very large percentage of students to the Ivy League and other top-ranked colleges and universities.<br><br>

                            Therefore, there are marvelous high schools right in the Upper East Side neighborhood that will definitely please.</p>
                        </div>
                    </div>
                </div>
                <div id="uni" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>There are also many universities located on the Upper East Side.<br><br>

                            For example, Hunter College, located in the heart of Manhattan, is the largest college in the City University of New York (CUNY). Founded in 1870, it is also one of the oldest public colleges in the country. More than 23,000 students currently attend Hunter, pursuing undergraduate and graduate degrees in more than 170 areas of study.<br><br>

                            For nearly 80 years, Marymount Manhattan College (MMC) has offered students the best of both worlds “ the personal approach of a small college combined with the limitless opportunities of one of the world’s greatest cities. MMC provides a college education unlike any other, with notable strengths in the creative and performing arts, communication and media, business, entrepreneurship, and liberal arts and sciences.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/marymountues.jpg" %}"/>
                            <h6>Marymount Manhattan College</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="health" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#gym">Gym</a></li>
                <li><a data-toggle="tab" href="#hospital">Hospital</a></li>
            </ul>
            <div class="tab-content">
                <div id="gym" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/fhitting.jpg" %}"/>
                            <h6>The Fhitting Room</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>For fitness in the Upper East Side, there are many unique options to get you in shape and healthy in no time.<br><br>

                            If you are interested in a Crossfit location in the Upper East Side, EVF360 is one of the best. It was founded by acclaimed New York City fitness coach Eric Von Frohlich. It offers CrossFit, conditioning, strength, and rowing-based classes for athletes of every level.<br><br>

                            The Fhitting Room is a High Intensity Training (HIT) boutique fitness studio delivering a comprehensive, body-changing workout in a small class environment. The workouts utilize rowers, free weights, kettlebells, suspension trainers, plyo boxes, medicine balls, pull up bars and more.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Or, if you’re really interested in being inspired, Exceed Physical Culture will definitely do the trick. With rotating classes and a constantly changing atmosphere, Exceed Physical Culture will always provide you with a new and fresh experience to brighten your day.<br><br>

                            The Upper East Side is sure to keep you moving, whether by jumping, lifting, or something in between, at one of its many fitness centers.</p>
                        </div>
                    </div>
                </div>
                <div id="hospital" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>In case of an injury or sickness, you are in luck in the Upper East Side with Lenox Hill Hospital. It is a 652-bed acute care hospital located right in the heart of Manhattan’s Upper East Side. A staple in the community for more than 100 years, the hospital has earned a national reputation for outstanding patient care and innovative medical and surgical treatments. The mission of Lenox Hill Hospital is to deliver outstanding healthcare with compassion and respect, to promote wellness in its communities, and to advance the field of medicine through education and research. Whatever the sickness or injury, the Upper East Side is sure to provide premier health care to its residents.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/lenoxhospitalues.jpg" %}"/>
                            <h6>Lenox Hill Hospital</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="parks" class="tab-pane fade in"><br>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive" src="{% static "images/johnjay.jpg" %}"/>
                    <h6>John Jay Park</h6>
                </div>
                <div class="col-lg-8">
                    <p>When in the Upper East Side, you are going to want to check out John Jay Park. Whether you want to play basketball, swim a lap, or take a walk in a wonderful community setting, John Jay Park & amp; Pool is the place to be. With such impressive facilities, it is no surprise that it’s packed with families year-round.<br><br>

                    When the temperatures rise, swimmers and sun worshipers swarm to the outdoor pool. The 145-foot pool opened its waters to the public in 1940 and has offered locals and visitors from all across New York City an opportunity to cool off with water sports ever since.<br><br>

                    Of course, Central Park is also a short walk from the neighborhood, and with its endless activities and sights, you can spend a day enjoying its beauty. From food to playgrounds to statutes, there is always something new to do in Central Park.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Therefore, whether you’re cherishing the small John Jay Park located right in the Upper East Side, or you’re more interested in visiting Central Park, the Upper East Side is the perfect proximity to enjoy.</p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div class="container">
    <div class="col-xs-12">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="100%" height="443" src="https://maps.google.com/maps?hl=en&q=upper east side, new york&ie=UTF8&t=roadmap&z=14&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com
        </a></small></div><div><small><a href="https://ww.premiumlinkgenerator.com/">premium link generator overview</a></small></div></iframe>
    </div>
</div><br><br>

{% endblock content %}