{% extends "remax_homepage/base.html" %}
{% load staticfiles %}

{% block title %} RE/MAX NYC | {{ neighborhood }} {% endblock title %}

{% block content %}

<div class="container">
    <br>{{ name }}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">{{ neighborhood }}</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive center-block" src="{% static dir %}"/>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Distinguished by Columbia University, Morningside Heights offers a retreat for students and young professionals alike. Morningside Heights is bordered by Harlem and Manhattan Valley.<br><br>

                The attraction to this neighborhood varies from resident to resident, as some enjoy the uptown feel yet proximity to downtown locations, and others come solely to attend one of the universities in Morningside Heights. Regardless of the appeal, Morningside Heights comprises of a blend of students and a younger working class, which also raises the allure of dining institutions to take root in the area. Many of the eats here are very cheap, making Morningside Heights an affordable, yet delicious, place to call home. Students love Uncle Luoyang’s Chinese food truck, while older residents savor Flat Top’s New American cuisine. But, students and younger professionals come together at night to cherish the quaint and upbeat Morningside Heights nightlife.<br><br>

                In terms of universities, Morningside Heights houses both Columbia University and Barnard University. As both are prestigious institutions, some of the smartest students reside in this neighborhood, and more are attracted to the intellectual environment. If you’re also looking to become a part of the neighborhood, you’ll be happy to know that real estate prices are below New York City average, although they are constantly climbing and may soon surpass the city average. So, consider renting or buying a property in Morningside Heights today, while prices are still very reasonable. And, if you’re looking for Columbia University housing, perhaps contemplate purchasing or renting a property outside of the campus instead.<br><br>
            </p>
        </div>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs" id="neighborhoodProperties">
        <li class="active"><a data-toggle="tab" href="#food">Food</a></li>
        <li><a data-toggle="tab" href="#nightlife">Nightlife</a></li>
        <li><a data-toggle="tab" href="#dailyerrands">Daily Errands</a></li>
        <li><a data-toggle="tab" href="#attractions">Attractions</a></li>
        <li><a data-toggle="tab" href="#shopping">Shopping</a></li>
        <li><a data-toggle="tab" href="#school">School</a></li>
        <li><a data-toggle="tab" href="#health">Health</a></li>
        <li><a data-toggle="tab" href="#parks">Parks</a></li>
        <li><a href="{% url "show_top_buildings" neighborhood=original %}">Top</a></li>
    </ul>
    <div class="tab-content">
        <div id="food" class="tab-pane fade in active">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#fine">Fine Dining</a></li>
                <li><a data-toggle="tab" href="#take">Takeout</a></li>
            </ul>
            <div class="tab-content">
                <div id="fine" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/flattop.jpg" %}"/>
                            <h6>Flat Top</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>Morningside Heights supplies some amazing dining choices without the hassle of upscale amenities.<br><br>

                            First, check out Uncle Luoyang, which offers some of the best Chinese food in the area. They are known especially for their pork burger even though every item on the menu is superb. The massive lines are caused by the personal and welcoming service of Uncle Luoyang, so you will certainly love it as much as the locals do.<br><br>

                            Or, try Amigos if you’re interested in the fusion of Mexican and BBQ food. Some notable dishes here are the fajitas, fresh guacamole, and unlimited quesadilla and margarita night on Tuesdays. Many people consider Amigos to be the best Mexican food of Morningside Heights.<br><br>

                            For some New American food, visit Flat Top, which provides an atmosphere that is almost as great as the food. This cafe is decorated with mason jars throughout, which really adds to the cute appeal. Another perk of dining at Flat Top are the reasonable prices, which will definitely be light on your wallet.</p>
                        </div>
                    </div>
                </div>
                <div id="take" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>In terms of takeout, Morningside Heights will not disappoint in its offerings.<br><br>

                            First, an exotic choice is Massawa, which serves authentic Ethiopian food at cheap prices. The service here is wonderful, so you should make this a definite stop on your journey through Morningside Heights.<br><br>

                            Another quick and easy option is Hamilton Deli, which many people flock to for breakfast because of their amazing breakfast sandwiches. Efficiency and high quality are the main goals here, where you can order any type of custom sandwich or salad. Hamilton Deli is perfect for a quick stop on the go.
                            While in Morningside Heights, you should definitely check out Broadway Au Lait, a Mediterranean style deli that is well known for its lunches. Many people love the avocado salad here, as well as an iced coffee. Overall, you can expect a wholesome lunch at this location made from fresh ingredients.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/massawa.jpg" %}"/>
                            <h6>Massawa</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nightlife" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#bar">Bar</a></li>
                <li><a data-toggle="tab" href="#club">Club</a></li>
            </ul>
            <div class="tab-content">
                <div id="bar" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/bernheim.jpg" %}"/>
                            <h6>Bernheim & Schwartz</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>Well known for housing Columbia University, Morningside Heights sports some great bars as a result.<br><br>

                            One of the favorite Columbia spots is Bernheim & Schwartz, a bar with both amazing food and drinks. They are known particularly for their selection of homemade beer on tap, as well as mixed cocktails for people who are not beer fans. Be sure to check out the ambience and drinks today!<br><br>

                            Another must-try, The Heights Bar & Grill, offers outstanding margaritas for you to savor. The bar also houses a young crowd, who flock here for the cheap prices and wonderful mix of calm and party music. The Heights features a rooftop hangout area, which is also very popular. Come during their extended happy hour of 4-7pm.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>If you’re looking for a dive bar, check out Lion’s Head Tavern, which supplies good, cheap beer in an awesome location. Whether you come here to watch sports or watch the latest sporting event, a night at Lion’s Head Tavern will be one to remember.</p>
                        </div>
                    </div>
                </div>
                <div id="club" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>If clubbing is more your style, Morningside Heights is not short on its fair share of venues to dance and party away at.<br><br>

                            First, try Phuket Lounge, which features nice decor, perfect for hosting a birthday party or another private events. The all-white downstairs leads to a modern feel, and with loud and lively music pumping, you will definitely appreciate the young vibes.<br><br>

                            Or, perhaps Suite is more your style. Known as the gay bar in the neighborhood, you can witness drag queen shows here, or just come to party the night away. Karaoke is offered here, as well as many entertaining throwback songs to please a variety of ages.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/phuket.jpg" %}"/>
                            <h6>Phuket Lounge</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="dailyerrands" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#grocery">Grocery</a></li>
                <li><a data-toggle="tab" href="#laundry">Laundry</a></li>
            </ul>
            <div class="tab-content">
                <div id="grocery" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/milano.jpg" %}"/>
                            <h6>Milano Market</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>In terms of grocery options, Morningside Heights offers many individual stores that are locally run and operated.<br><br>

                            For Italian delicacies, check out Milano Market, an Italian market located close to Columbia University. The staff here is very quick and efficient at finding you exactly the product you are looking for, and are genuinely searching to satisfy your needs. Some notable products here are their sandwiches and cookies, which are pre-made for a quick meal.<br><br>

                            Or, try Apple Tree Supermarket, which is open 24/7 for all of your grocery needs. The perks of this store, besides the convenient hours, are the huge variety of products that they stock, ensuring that you will not have to visit another supermarket as part of your weekly regime. Apple Tree Supermarket is a great choice for a busy shopper looking for convenience and long hours.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Another grocery store located near Columbia is Westside Market NYC. They also are open for 24 hours, and are distinguished by their polite staff, variety of products, and clean location. Check out this location for a reliable shopping experience.</p>
                        </div>
                    </div>
                </div>
                <div id="laundry" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Laundromats in Morningside Heights are not hard to come by, and you will certainly find one that will fit your needs.<br><br>

                            First, visit Ying Koon Laundry to try out their reliable services. At a cheap cost, you can still expect the best service, as their staff members are always honest and polite. This laundromat is a great starting point for any of your laundry needs.<br><br>

                            Another competitively priced laundromat is Spotless Cleaners. The friendly staff here are happy to help you out, and the laundromat is conveniently located right next to a subway stop, so you can drop off your laundry before heading to work or school.<br><br>

                            For a quick service, bring your laundry needs to Amsterdam Cleaners & Tailors. They do a fantastic job here, and their attentive service adds to the quality and overall satisfaction. You will definitely enjoy the hassle-free environment of Amsterdam Cleaners.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="attractions" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#shows">Shows & Museums</a></li>
                <li><a data-toggle="tab" href="#art">Art Galley</a></li>
            </ul>
            <div class="tab-content">
                <div id="shows" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/millertheater.jpg" %}"/>
                            <h6>Miller Theatre</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>In terms of attractions, Morningside Heights has many to choose from, which will surely not disappoint.<br><br>

                            First, try The Riverside Theatre if you’re looking for a performance. The large theatre has great acoustics and lighting, so you can easily view the amazing performances on stage. The staff is also very sweet, ensuring that you will have a good experience from start to finish.<br><br>

                            Or, check out Miller Theatre for some terrific musical displays. From pre-Baroque pieces to modern jazz, you can view a comprehensive assortment of ensembles that will surely blow you away. One of the notable performances here is Poeme Harmonique, a French ensemble, as well as the modern composers that perform original pieces. Regardless of what you view, the music will definitely astonish your ears.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>Another musical venue that is perhaps more intimate is Postcrypt Coffeehouse, located in the basement of a Columbia University church. Here you can witness everything from artists to musicians to poets perform and showcase their work, and the authentic feel may even make you feel artistic yourself. Come check out this cherished location today.</p>
                        </div>
                    </div>
                </div>
                <div id="art" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>For an art showcase, there are not as many venues, but the galleries located in Morningside Heights are sure to please.<br><br>

                            Try visiting Dwyer Cultural Center, a 1000 square foot gallery that showcases art exhibitions and showcases, as well as many social gatherings. Come here to take a look at the beautiful art, and explore the social context to the artwork of the 1960s. This art gallery is definitely not one to miss!</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/dwyer.jpg" %}"/>
                            <h6>Dwyer Cultural Center</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="shopping" class="tab-pane fade in"><br>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive" src="{% static "images/shoetree.jpg" %}"/>
                    <h6>Shoe Tree</h6>
                </div>
                <div class="col-lg-8">
                    <p>If shopping is your first priority, then Morningside Heights will supply you the perfect store to shop at!<br><br>

                    First, try Aerosoles Shoe Store if you’re looking to make a shoe purchases. Their selection is high quality, and at decent prices, you can get a variety of pairs for a reasonable cost. One of the benefits of visiting Aerosoles is their amazing customer service, as they will surely help you find the exact pair of shoes that you are looking for. Or, visit The Shoe Tree, whose staff is very knowledgeable in finding a shoe so amazing that you didn’t know it was possible. The family business adds to the appeal of shopping here, as well as the reasonably priced shoes and great location. Be sure to check out one of these shoe stores while in Morningside Heights!<br><br>
                    For some women’s clothes, Liberty House is the best place to visit in Morningside Heights. Offering home decor, jewelry, and accessories as well, you can virtually pick out your entire wardrobe within the small location. In terms of the clothing, the clothes will fit all body types, and display a variety of colors to choose from.</p>
                </div>
            </div>
        </div>
        <div id="school" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#early">Early Education</a></li>
                <li><a data-toggle="tab" href="#uni">University</a></li>
            </ul>
            <div class="tab-content">
                <div id="early" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/hilda.jpg" %}"/>
                            <h6>St. Hilda’s & St. Hugh’s School</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>One of the best private schools in the Morningside Heights neighborhood is The Cathedral School of St. John the Divine Private School, dedicated for students aged kindergarten to eighth grade. Even though the school is religious, all faiths are welcome to attend the 300-person school. This school is distinguished by its holistic education, focusing on the arts, athletics, and character building, which helps children grow in all areas.<br><br>

                            Another fantastic choice for a primary education, St. Hilda’s & St. Hugh’s School, also enrolls students from kindergarten to eighth grade. A key factor of this school is that the student body is very diverse, encompassing many races, religious, and cultures within the small population. The teachers here are also amazing, focusing on the education of all aspects of a child.<br><br>

                            Any choice for a primary education in Morningside Heights will leave your child well-prepared for the future.</p>
                        </div>
                    </div>
                </div>
                <div id="uni" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>Morningside Heights is most distinguished for housing Columbia University, an Ivy League institution that is world renowned. As the oldest institution of higher learning in New York, Columbia has acquired some notable alumni, including Barack Obama, Theodore Roosevelt, Warren Buffett, and Lou Gehrig. With only a 6.2% acceptance rate, many people hope to join the ranks of one of the premier institutions of America, but only a few are lucky enough to call Morningside Heights home.<br><br>

                            Another acclaimed university is the sister college to Columbia University, namely Barnard College. This liberal arts college solely enrolls women, yet still manages to create a diverse community of individuals. With some joint classes with Columbia, enrolling in Barnard is a great way to get a top-notch education in a challenging and beautiful school.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/columbia.jpg" %}"/>
                            <h6>Columbia University</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="health" class="tab-pane fade in">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#gym">Gym</a></li>
                <li><a data-toggle="tab" href="#hospital">Hospital</a></li>
            </ul>
            <div class="tab-content">
                <div id="gym" class="tab-pane fade in active"><br>
                    <div class="row">
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/blinkfitness.jpg" %}"/>
                            <h6>Blink Fitness</h6>
                        </div>
                        <div class="col-lg-8">
                            <p>Unsurprisingly due to the young population, Morningside Heights offers some great fitness facilities to choose from.<br><br>

                            First, try Columbia University Dodge Fitness Center, located on the Columbia campus. With the best swimming and diving team on the East Coast, you are sure to be in good company at this facility .Whether you choose to take a class or venture out on your own, you will certainly enjoy the towel and locker service, as well as showers provided at the premises.<br><br>

                            Or, try Liberated Fitness NYC for a greater sense of community within the gym. The facility is composed of athletes of all different abilities and body types, so everyone can feel welcome here. The motivating coaches really add to the experience, encouraging students to always try their best and reach for their goals.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>One of the most popular gyms in New York City, Blink Fitness, has a location in Morningside Heights. Their exceptional equipment and training are the focal points here, as well as the pleasant staff always willing to help you out. Blink Fitness provides a more relaxed environment, as many gym goers here casually train, so you will definitely feel comfortable regardless of your fitness level.</p>
                        </div>
                    </div>
                </div>
                <div id="hospital" class="tab-pane fade in"><br>
                    <div class="row">
                        <div class="col-lg-8">
                            <p>The only hospital located in Morningside Heights is St. Luke’s Hospital, and although small, they have the ability to effectively service the entire neighborhood. Some perks of visiting this hospital are the fast Emergency Room care, so you can immediately treated for any ailment, as well as the attentive staff to take care of you. Cleanliness is always top priority here, ensuring that any disease or illness will not spread throughout the facility. The wait times at St. Luke’s are short, so you will be taken care of in no time. Be sure to consider St. Luke’s Hospital the next time you face a serious medical condition in Morningside Heights.</p>
                        </div>
                        <div class="col-lg-4">
                            <img class="img-responsive" src="{% static "images/stlukes.jpg" %}"/>
                            <h6>St. Luke's Hospital</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="parks" class="tab-pane fade in"><br>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive" src="{% static "images/sakurapark.jpg" %}"/>
                    <h6>Sakura Park</h6>
                </div>
                <div class="col-lg-8">
                    <p>The best part of living uptown is that the neighborhoods have more room for parks and greeneries, and Morningside Heights is no exception.<br><br>

                    The first park that you should try in the area is Riverside Park, a beautiful location close to the Hudson River. With amazing views, exceptional running and bike paths, and plenty of trees within the premises, Riverside Park serves as a peaceful place to run or relax at. Plus, feel free to bring your dogs here, as they can run off leash in some areas throughout the park. Overall, Riverside Park is a great choice for athletes and nature-lovers alike.<br><br>

                    Or, check out Sakura Park, with the main attraction here being cherry blossom trees that bloom in the spring and illuminate the entire park. With incredible views in a quiet and clean location, you will definitely want to spend the day here reading a book or enjoying a picnic among friends and family.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p>Another location for a picnic or casual stroll is West 111th Street People’s Garden. Although small, the garden displays many sculptures and plantings that make up for the tiny space.<br><br>

                    Regardless of the park you choose, Morningside Heights will certainly offer you the green space you need to relax and enjoy a day of solace.</p>
                </div>
            </div>
        </div>
    </div>
</div><br><br>

<div class="container">
    <div class="col-xs-12">
        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0"width="100%" height="443" src="https://maps.google.com/maps?hl=en&q=morningside heights, new york&ie=UTF8&t=roadmap&z=15&iwloc=B&output=embed"><div><small><a href="http://embedgooglemaps.com">embedgooglemaps.com
        </a></small></div><div><small><a href="http://premiumlinkgenerator.com">premium link generator for 2016!</a></small></div></iframe>
    </div>
</div><br><br>

{% endblock content %}