{% extends "remax_homepage/base.html" %}
{% load staticfiles %}

{% block title %} RE/MAX NYC | Terms of Use {% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">Terms of use</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>Please note that the images shown on the neighborhood section of this website were obtained from third-party sources on the internet without the intention of taking any copyrighted information. Please email our company at team@remaxnyc.com if you see any of your copyrighted content that you would like us to remove.</p>
        </div>
    </div>
</div>

{% endblock content %}